POSTGRES_DB=synclass
POSTGRES_USER=synclass
POSTGRES_PASSWORD=synclass
POSTGRES_PORT=5432
API_PORT=8080
GOOGLE_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
APPLE_CLIENT_ID=
APPLE_BUNDLE_ID=
EXPO_PUBLIC_APPLE_CLIENT_ID=
DEEPSEEK_API_KEY=
WhatsApp__AccountSid=
WhatsApp__AuthToken=
WhatsApp__NumeroRemetente=
MERCADOPAGO_CLIENT_ID=
MERCADOPAGO_CLIENT_SECRET=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_URL_BASE_APP=
MERCADOPAGO_API_BASE_URL_PUBLICA=
