POSTGRES_DB=synclass
POSTGRES_USER=synclass
POSTGRES_PASSWORD=synclass
POSTGRES_PORT=5432
API_PORT=8080
GOOGLE_CLIENT_ID=
DEEPSEEK_API_KEY=
WhatsApp__AccountSid=
WhatsApp__AuthToken=
WhatsApp__NumeroRemetente=
MERCADOPAGO_CLIENT_ID=
MERCADOPAGO_CLIENT_SECRET=
